/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 19, 2018, 10:52:35 PM
    Author     : hp
*/

.menu-bg{
    -fx-background-color:#cccccc;
}
.main_bg{
    -fx-background-color:#ffffff;
   -text-fill:000000;
    -font-Style:Bold;
}
.circle {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	/* width and height can be anything, as long as they're equal */
}

